.message{
	padding-left: 0.5em;
	font-size: 2em;
	font-family: Arial, Helvetica, sans-serif;
}

.strike{
	text-decoration: line-through;
}

.inline {
	display: inline;
}

.right {
	float: right;
}

.left {
	float: left;
}

.delete-note-button {
	display: none;
}

.note:hover .delete-note-button {
	display: block;
}
