<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <title>CheckIt</title>
  <link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
  <link href="main.css" rel="stylesheet">
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.10/angular.min.js"></script>
  <script src="app.js"></script>
</head>
<body ng-app="checkit" ng-controller="CheckitCtrl">
	<div class="row">
		<div class="col-md-6 col-md-offset-3">

		<div class="page-header">
			<h1>CheckIt</h1>
		</div>

		<div ng-repeat="note in notes" class="list-group">
			<div class="note list-group-item">
				<span><input type="checkbox" ng-model="note.checked"></span>
        <span class="message" ng-class="{strike: note.checked}">{{note.message}}</span>
				<span class="glyphicon glyphicon-remove right" ng-click="deleteNote($index)"></span>
			</div>
		</div>

      <form ng-submit="addNote()">
        <input type="text" class="form-control" placeholder="Add a new note" ng-model="msg">
      </form>

    </div>
	</div>
</body>
</html>
