<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <title>CheckIt</title>
  <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon" />
  <link rel="stylesheet" type="text/css" href="lib/bootstrap-css-only/css/bootstrap.min.css">
  <link href="main.min.css" rel="stylesheet">
</head>
<body ng-app="checkit" ng-controller="CheckitCtrl" ng-init="getNotes()">
	<div class="row">
		<div class="col-md-6 col-md-offset-3">

  		<div class="page-header">
  			<h1>CheckIt</h1>
  		</div>

      <div class="list-group">
    		<div ng-repeat="note in notes" class="list-group-item note">

    				<span>
              <input type="checkbox"
                     ng-model="note.checked"
                     ng-click="updateNote(note)">
            </span>
        		<span class="message"
                  ng-cloak
                  ng-class="{'strike text-muted': note.checked}"
                  ng-dblclick="note.editing = true">
              <span ng-if="!note.editing">{{note.message}}</span>
              <span ng-if="note.editing">
                <form class="inline"
                      ng-submit="updateNote(note)">
                  <input type="text"
                         ng-model="note.message"
                         ng-blur="note.editing = false">
                </form>
              </span>
            </span>
    				<span class="right">
              <button class="glyphicon glyphicon-remove delete-note-button"
                      ng-click="deleteNote(note)"></button>
            </span>
            
    		</div>
      </div>

      <form ng-submit="createNote()">
        <input type="text" class="form-control" placeholder="Add a new note" ng-model="msg">
      </form>

    </div>
	</div>

  <script type="text/javascript" src="lib/angular/angular.js"></script>
  <script type="text/javascript" src="lib/angular-resource/angular-resource.js"></script>
  <script type="text/javascript" src="scripts.min.js"></script>
</body>
</html>
