<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <title>CheckIt</title>
  <link rel="stylesheet" type="text/css" href="lib/bootstrap-css-only/css/bootstrap.min.css">
  <link href="main.css" rel="stylesheet">
</head>
<body ng-app="checkit" ng-controller="CheckitCtrl">
	<div class="row">
		<div class="col-md-6 col-md-offset-3">

  		<div class="page-header">
  			<h1>CheckIt</h1>
  		</div>

      <div class="list-group">
    		<div ng-repeat="note in notes" class="list-group-item">
  				<span><input type="checkbox" ng-model="note.checked" ng-click="checkMessage($index)"></span>
      		<span class="message" ng-class="{'strike text-muted': note.checked}">
            {{note.message}}
          </span>
  				<span class="right" ng-click="deleteNote($index)">
            <button class="glyphicon glyphicon-remove"></button>
          </span>
    		</div>
      </div>

      <form ng-submit="createNote()">
        <input type="text" class="form-control" placeholder="Add a new note" ng-model="msg">
      </form>

    </div>
	</div>

  <script type="text/javascript" src="lib/angular/angular.js"></script>
  <script type="text/javascript" src="lib/angular-resource/angular-resource.js"></script>
  <script type="text/javascript" src="app.js"></script>
</body>
</html>
